@import "tailwindcss"; /* Pastikan tetap mengimpor Tailwind CSS */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Menambahkan font Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
       url('/fonts/Roboto-Regular.woff') format('woff'),
       url('/fonts/Roboto.ttf') format('truetype'); /* Fallback */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.woff2') format('woff2'),
       url('/fonts/Roboto-Bold.woff') format('woff'),
       url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Pengaturan untuk body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', Arial, Helvetica, sans-serif; /* Menggunakan font Roboto */
}